* {

    margin: 0;

    padding: 0;

}

header {

    display: flex;
    justify-content: space-between;
    height: 7.5rem;
    box-shadow: 10px 10px 5px grey;


}

header>section,
header>nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


section.sitelogoandtitle>img {
    height: 50%;
    padding: 1em;
}


nav {
    gap: 80px;
}


section.headersearchbar {

    margin-right: 3%;
}

nav>a:hover,
nav-active {
    background-color: rgb(255, 115, 0);
    text-decoration: none;
}

section#heroimage {
    display: flex;
    width: 100%;
    height: 70dvh;
    background-image: linear-gradient(to right, rgb(224, 224, 224) 30%, rgb(255, 255, 255), rgb(201, 201, 201));
}

section#heroimage .hero-image {
    background-size: cover;
    max-height: 100px;
}

section#heroimage .hero-text {
    flex-direction: row;
    align-items: center;
    line-height: 1;
    margin-left: 100px;
    margin-top: 150px;
    width: 50%;
}

section#heroimage .hero-text h1 {
    font-size: 70px;
    max-width: 600px;
    margin-bottom: 3%;
}

section#heroimage .hero-text h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 5%;
    line-height: 1.5;
    max-width: 600px;
}

section#heroimage button {
    background-color: #f37421;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


section#services {
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

section#services .services-text h1 {
    font-size: 48px;
    padding-top: 50px;
}

#services-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50%;
}

#services-container img {
    border-radius: 10%;
    padding-bottom: 5%;
}

.p.body-content {
    max-width: 200px;
    padding: 30px;
}

section#About {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90dvh;
    gap: 200px;
}

section#About .about-image {
    flex-direction: column;
    width: 60%;
    height: 750px;
    background-image: url(Yenny.jpg);
    background-size: cover;
    background-position: center;
}

section#About .about-text {
    width: 40%;
    flex-direction: column;
    margin-left: 100px;
}

section#About .about-text h1 {
    font-size: 65px;
    max-width: 600px;
    margin-bottom: 3%;
    margin-top: 20%;
}

section#About .about-text p {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5%;
    line-height: 1.5;
    max-width: 600px;
}

section#calltoaction{
    display: flex;
    width: 100%;
    height: 60dvh;
    background-image: linear-gradient(to right, rgb(224, 224, 224) 30%, rgb(255, 255, 255), rgb(201, 201, 201));

}

.call-to-action {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin: 10% 10%;
}

.call-to-action button {
    background-color: #f37421;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 50px 20px;

.p{
    line-height: 1.5;

}
}


.services-links{
    line-height: 2;
    text-align: center;
}

.Contact{
    line-height: 2;
    text-align: center;
}





section#contactform{
    display: flex;
    width: 100%;
    height: 200dvh;
background-color: rgb(238, 238, 238);
}

.contact-form {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin: 10%;
}

.contact-form .formsubmit {
    font-size: 30px;
    margin-top: 100px;
    text-align: left;
}

.contact-form input {
    background-color: #f37421;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

input[type=text], select, textarea {
  width: 60%;
  padding: 12px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-bottom: 1px solid #c2c2c2;
 margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 1rem;
    font-size: 1rem;
  resize: vertical;


}