/* Mobile-first CSS overhaul!*/

* {

    margin: 0;

    padding: 0;

}

/*Home page*/

header {

    display: flex;
    justify-content: space-between;
    height: 7.5rem;
    box-shadow: 10px 10px 5px grey;
    flex-wrap: wrap;


}

header>section,
header>nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


section.sitelogoandtitle>img {
    height: 50%;
    margin-left: 20px;
}


nav {
    gap: 50px;
    margin-right: 50px;
}


nav>a:hover,
nav-active {
    background-color: rgb(255, 115, 0);
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 5px;
    position: sticky
}

section#heroimage {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70dvh;
    background-image: linear-gradient(to right, rgb(224, 224, 224) 30%, rgb(255, 255, 255), rgb(201, 201, 201));
    overflow: hidden;
}

section#heroimage .hero-image {
    background-size: cover;
    max-height: 100px;
}

section#heroimage .hero-text {
    flex-direction: row;
    align-items: center;
    line-height: 1;
    margin-left: 100px;
    margin-top: 150px;
    width: 50%;
    text-align: left;
}

section#heroimage .hero-text h1 {
    font-size: 70px;
    max-width: 600px;
    margin-bottom: 3%;
}

section#heroimage .hero-text h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 5%;
    line-height: 1.5;
    max-width: 600px;
}

section#heroimage button {
    background-color: #f37421;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


section#services {
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section#services .services-text h1 {
    font-size: 48px;
    padding-top: 50px;
}

#services-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: center;
    padding-top: 50px;
    margin: 10px 10px;
}

#services-container img {
    border-radius: 10%;
    padding-bottom: 5%;
}

.p.body-content {
    max-width: 200px;
    padding: 30px;
}

section#About {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90dvh;
    gap: 150px;
}

section#About .about-image {
    flex-direction: column;
    width: 60%;
    height: 750px;
    background-image: url(Yenny.jpg);
    background-size: cover;
    background-position: center;
}

section#About .about-text {
    width: 40%;
    flex-direction: column;
    margin-left: 100px;
}

section#About .about-text h1 {
    font-size: 65px;
    max-width: 600px;
    margin-bottom: 3%;
    margin-top: 20%;
}

section#About .about-text p {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5%;
    line-height: 1.5;
    max-width: 600px;
}

section#calltoaction {
    display: flex;
    width: 100%;
    background-image: linear-gradient(to right, rgb(224, 224, 224) 30%, rgb(255, 255, 255), rgb(201, 201, 201));

}

.call-to-action {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin: 10% 10%;
}

.call-to-action button {
    background-color: #f37421;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;

}

.footer-container p {
    line-height: 1.5;
}


.services-links {
    line-height: 2;
    text-align: center;
}

.Contact {
    line-height: 2;
    text-align: center;
}

/*About page*/

section#main-about .about-text h1 {
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

section#main-about {
    width: 100%;
    overflow: hidden;
    background-image: url(./assets/Yenny.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}


/*Work page*/

section#gallery-zain h1 {
    font-size: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: rgb(177, 177, 177);
    height: 100px;
    align-content: center;
}

section#gallery-zain h2 {
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: rgb(177, 177, 177);
    align-content: center;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

.container {
    position: relative;
}

.modeling-slides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    font-size: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 50px;
}

.column {
    float: left;
    width: 14.28%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

iframe {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}

section#gallery-ulna h1 {
    font-size: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: rgb(177, 177, 177);
    height: 100px;
    align-content: center;
}

section#gallery-ulna h2 {
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: rgb(177, 177, 177);
    align-content: center;
}

section#calltoaction {
    background-color: rgb(36, 36, 36);
    background-size: cover;
    background-position: center;
}

section#calltoaction h1 {
    font-size: 70px;
    text-align: center;
    margin: 10% 10%;
    color: black;
}



/*Contact us page*/

section#contactform {
    display: flex;
    width: 100%;
    height: 200dvh;
    background-color: rgb(238, 238, 238);
}

.contact-form {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin: 10%;
}

.contact-form .formsubmit {
    font-size: 30px;
    margin-top: 100px;
    text-align: left;
}

.contact-form input {
    background-color: #f37421;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

input[type=text],
select,
textarea {
    width: 60%;
    padding: 12px;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-bottom: 1px solid #c2c2c2;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 1rem;
    font-size: 1rem;
    resize: vertical;


}







/*Landscape phones and portrait tablets*/
@media screen and (max-width: 600px) {

    header>section,
    header>nav {
        height: 50%;
        width: 100%;
        margin-top: 10px;

    }

    section.sitelogoandtitle>img {
        height: 90%;
        align-items: center;
        margin-left: 0px;
    }

    nav {
        gap: 40px;
        width: 100%;
        margin-right: 0px;
    }

    section#heroimage {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: linear-gradient(to right, rgb(224, 224, 224) 30%, rgb(255, 255, 255), rgb(201, 201, 201));
    }

    .img {
        width: 10%;
        height: 50%;
        background-size: cover;
    }

    section#heroimage .hero-text {
        align-items: center;
        line-height: 1;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    section#heroimage .hero-text h1 {
        font-size: 50px;
        max-width: 350px;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    section#heroimage .hero-text h2 {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 5%;
        line-height: 1.5;
        max-width: 350px;
    }

    section#services {
        width: 100%;
        height: 160dvh;
        text-align: center;
    }

    #services-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 30px;
        padding-bottom: 2px;
    }

    #services-container img {
        width: 250px;
        height: 250px;
    }

    #services-container p.body-content {
        max-width: 100%;
        padding: 30px;
    }

    section#services .services-text h1 {
        font-size: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
    }

    #services-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 10px;
    }

    #services-container img {
        border-radius: 10%;
        padding-bottom: 5%;
    }

    p.Body-Content {
        max-width: 400px;
        padding: 30px;
        font-size: 20px;
    }

    section#About {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    section#About .about-text {
        width: 100%;
        flex-direction: column;
        margin: 10px 10px;
        text-align: center;

    }

    section#About .about-text h1 {
        font-size: 50px;
        margin-bottom: 3%;
        margin: 10px 10px;
    }

    section#About .about-text p {
        font-size: 20px;
        font-weight: normal;
        line-height: 1.2;
        text-align: justify;
        margin: 10px 10px;
    }

    section#About .about-image {
        width: 100%;
    }

    .call-to-action {
        width: 100%;
        font-size: 25px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin: 20px 50px 20px;
    }

    .footer-container p {
        line-height: 1.5;
    }

    .services-links {
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 20px;
    }

    .Contact {
        font-size: 20px;
    }


    /*Contact us page*/

    .contact-form {
        font-size: 30px;
        text-align: center;
    }

    .contact-form .formsubmit {
        font-size: 25px;
        margin-top: 100px;
        text-align: center;
    }

    section#contactform {
        height: 130dvh;
    }



    /*About page*/

    section#main-about .about-text h1 {
        align-items: baseline;
        text-align: center;
        margin-top: 120px;
        color: rgb(235, 99, 8);
        line-height: 1;
    }

    section#main-about {
        width: 100%;
        overflow: hidden;
        background-image: url(./assets/Yenny.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 500px;
    }

    /*Work page*/

    section#gallery-zain h1 {
        font-size: 30px;
        height: 50px;
    }

    section#gallery-zain h2 {
        font-size: 15px;
        height: 30px;
    }

    iframe {
        height: 200px;
        width: 100%;
    }

    .caption-container {
        font-size: 15px;
    }

    section#gallery-ulna h1 {
        font-size: 30px;
        height: 50px;
    }

    section#gallery-ulna h2 {
        font-size: 15px;
        height: 30px;
    }

    section#gallery-zain h2 {
        font-size: 15px;
        height: 30px;
    }

    section#Animation h1 {
        padding-top: 20px;
    }

    section#calltoaction {
        background-image: linear-gradient(to right, rgb(224, 224, 224) 30%, rgb(255, 255, 255), rgb(201, 201, 201));
        background-size: cover;
        background-position: center;
    }

    section#calltoaction h1 {
        font-size: 30px;
        text-align: center;
        margin: 10% 10%;
        color: rgb(0, 0, 0);
    }



    /*Desktop/Laptop/etc - Large screens*/
    @media screen and (min-width: 1200px) {

        nav {
            gap: 80px;
            width: 50%;
        }

        section#heroimage {
            width: 100%;
            height: 70dvh;
            background-image: linear-gradient(to right, rgb(224, 224, 224) 30%, rgb(255, 255, 255), rgb(201, 201, 201));
        }
    }
}